* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

@mixin df-justify-center {
    display: flex;
    justify-content: center;
}

@mixin df-row {
    display: flex;
    flex-direction: row;
}

@mixin df-align-item {
    display: flex;
    align-items: center;
}

@mixin df-direction-clmn {
    display: flex;
    flex-direction: column;
}

@mixin df-aling-justify-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

header button {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button {
    border: 0;
}

.header {
    background-color: blanchedalmond;
    padding: 0 1em 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 150px;
}


.header .button {
    display: none;
}

.header .svg {
    width: 2em;
    height: 2em;
    fill: white;
}

.header .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.header .li {
    margin: 0 .5em;
    font-size: 1.2rem;
    font-weight: 900;
    transition: 550ms;
    font-family: "Playball", cursive;
}

.header .li:hover {
    transition: 550ms;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

li {
    list-style-type: none;
}


@media screen and (max-width:680px) {
    .header {
        flex-flow: row wrap;
    }

    .header .button {
        display: block;
        cursor: pointer;
    }

    .header .nav {
        width: 100%;
        display: none;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .header .nav.activo {
        display: block;
        height: 50vh;
        pointer-events: auto;
    }

    .header .ul {
        flex-direction: column;
        background-color: blanchedalmond;
    }

    .header .li {
        margin: 1rem 0;
    }

}

.h1 {

    img {
        width: 100px;
        height: 100px;
    }
}

.a {
    color: black;
    text-decoration: none;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    img {
        height: 45px;
        width: 45px;
        transition: 400ms;
    }

    img:hover {
        transition: 400ms;
        height: 50px;
        width: 50px;
    }
  }



/**Termina Menu Navegacion**/

main {
    background: url(../imgs/6179262.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.png_info img {
    width: 40px;
    height: 40px;
    transition: 600ms;
}

.png_info img:hover {
    width: 55px;
    height: 55px;
    transition: 600ms;
}

.mas_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 10%;
}


.welcome {
    width: 100%;
    height: 300px;

    h1 {
        font-family: "Roboto", sans-serif;
        color: white;
        padding: 5% 0 0 1%;
        font-size: 40px;
        font-weight: 200;
        width: 80%;
    }

    .p1,
    .mas_info {
        padding: 1% 0 0 1%;
    }

    .p1 {
        font-size: 28px;
        font-family: "Pinyon Script", cursive;
        color: white;
    }

    .p2 {
        font-family: "Roboto", sans-serif;
        color: white
    }

}

/**Termina Welcome**/

.part1 h1 {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
}


.fotos_academia {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        height: 300px;
        width: 400px;
        box-shadow: 0 0 15px #000;
        margin-top: 4%;
        transition: 800ms;
    }

    img:hover {
        transition: 800ms;
        box-shadow: 0 0 35px goldenrod;
    }
}

/**Termina part1**/

.comunidad {
    height: 100px;
    width: 100px;
}

.part2 {
    margin-top: 7%;
    @include df-row();
    gap: 4%;
    justify-content: space-around;

    .card {
        @include df-direction-clmn();
        width: 20%;
        height: 60%;
        align-items: center;
        color: white;
        font-family: "Roboto", sans-serif;

        h4 {
            font-size: 20px;
        }

        p {
            text-align: center;
            margin-top: 3%;
            font-size: 15px;
        }
    }

}

/**Termina part2**/

.cursos {
    display: flex;
    justify-content: center;
    margin-top: 8% ;

    .box_cursos {
        @include df-direction-clmn();
        justify-content: center;
        padding: 0 10% 0 10%;
        width: 90%;
        background: linear-gradient(to bottom right, burlywood, rgba(128, 128, 128, 0.5));
        border: 2px solid #000;
        border-radius: 20px;
        padding: 2%;
        margin-bottom: 2%;

        h3 {
            font-size: 35px;
            font-weight: 500;
            font-family: "Playball", cursive;
            text-align: center
        }

        .cards_cursos {
            @include df-row();
            gap: 5%;
            padding: 2%;

            img {
                width: 100%;
                height: 100%; 
                box-shadow: 0 0 15px #000;
                transition: 650ms;
            }

            img:hover {
                transition: 650ms;
                opacity: 75%;
            }
        }
    }
}

/**Termina part 3**/

footer {
    background-color: #000;
    display: flex;
    padding: 2% 2% 0 2%;
    color: white;

    .maps, .derechos  {
        @include df-direction-clmn();
        justify-content: center;
        align-items: center;
    }
    
    .derechos {
        justify-content: space-around;
    }

    .redes img {
        width: 50px;
        height: 50px;
    }

    .derechos  img {
       width: 70%;
       height: 70%;
    }

    .redes {
        @include df-direction-clmn();
        justify-content: space-around;

        .sociales {
            @include df-direction-clmn();
            height: 50%;
            justify-content: space-around;
        }
    }

    .newsletter {
        text-align: center;

        .email {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .email1 {
                width: 65%;
            }
        }
    }

}