* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

header button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button {
  border: 0;
}

.header {
  background-color: blanchedalmond;
  padding: 0 1em 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 150px;
}

.header .button {
  display: none;
}

.header .svg {
  width: 2em;
  height: 2em;
  fill: white;
}

.header .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header .li {
  margin: 0 0.5em;
  font-size: 1.2rem;
  font-weight: 900;
  transition: 550ms;
  font-family: "Playball", cursive;
}

.header .li:hover {
  transition: 550ms;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 680px) {
  .header {
    flex-flow: row wrap;
  }
  .header .button {
    display: block;
    cursor: pointer;
  }
  .header .nav {
    width: 100%;
    display: none;
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo {
    display: block;
    height: 50vh;
    pointer-events: auto;
  }
  .header .ul {
    flex-direction: column;
    background-color: blanchedalmond;
  }
  .header .li {
    margin: 1rem 0;
  }
}
.h1 img {
  width: 100px;
  height: 100px;
}

.a {
  color: black;
  text-decoration: none;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.whatsapp-button img {
  height: 45px;
  width: 45px;
  transition: 400ms;
}
.whatsapp-button img:hover {
  transition: 400ms;
  height: 50px;
  width: 50px;
}

/**Termina Menu Navegacion**/
main {
  background: url(../imgs/6179262.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.png_info img {
  width: 40px;
  height: 40px;
  transition: 600ms;
}

.png_info img:hover {
  width: 55px;
  height: 55px;
  transition: 600ms;
}

.mas_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  width: 10%;
}

.welcome {
  width: 100%;
  height: 300px;
}
.welcome h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 5% 0 0 1%;
  font-size: 40px;
  font-weight: 200;
  width: 80%;
}
.welcome .p1,
.welcome .mas_info {
  padding: 1% 0 0 1%;
}
.welcome .p1 {
  font-size: 28px;
  font-family: "Pinyon Script", cursive;
  color: white;
}
.welcome .p2 {
  font-family: "Roboto", sans-serif;
  color: white;
}

/**Termina Welcome**/
.part1 h1 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.fotos_academia {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fotos_academia img {
  height: 300px;
  width: 400px;
  box-shadow: 0 0 15px #000;
  margin-top: 4%;
  transition: 800ms;
}
.fotos_academia img:hover {
  transition: 800ms;
  box-shadow: 0 0 35px goldenrod;
}

/**Termina part1**/
.comunidad {
  height: 100px;
  width: 100px;
}

.part2 {
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: space-around;
}
.part2 .card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 60%;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
.part2 .card h4 {
  font-size: 20px;
}
.part2 .card p {
  text-align: center;
  margin-top: 3%;
  font-size: 15px;
}

/**Termina part2**/
.cursos {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
.cursos .box_cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10% 0 10%;
  width: 90%;
  background: linear-gradient(to bottom right, burlywood, rgba(128, 128, 128, 0.5));
  border: 2px solid #000;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 2%;
}
.cursos .box_cursos h3 {
  font-size: 35px;
  font-weight: 500;
  font-family: "Playball", cursive;
  text-align: center;
}
.cursos .box_cursos .cards_cursos {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 2%;
}
.cursos .box_cursos .cards_cursos img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px #000;
  transition: 650ms;
}
.cursos .box_cursos .cards_cursos img:hover {
  transition: 650ms;
  opacity: 75%;
}

/**Termina part 3**/
footer {
  background-color: #000;
  display: flex;
  padding: 2% 2% 0 2%;
  color: white;
}
footer .maps, footer .derechos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .derechos {
  justify-content: space-around;
}
footer .redes img {
  width: 50px;
  height: 50px;
}
footer .derechos img {
  width: 70%;
  height: 70%;
}
footer .redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .redes .sociales {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}
footer .newsletter {
  text-align: center;
}
footer .newsletter h2 {
  font-family: "Playball", cursive;
  font-weight: 500;
}
footer .newsletter .email {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .newsletter .email .enviar {
  color: #000;
  padding: 1%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: blanchedalmond;
  border: blanchedalmond solid;
  border-radius: 3px;
}
footer .newsletter .email .email1 {
  width: 65%;
  font-family: "Roboto", sans-serif;
  color: #000;
}

/**termina home**/
/**Comienzan los cursos**/
.part1_about {
  display: flex;
  flex-direction: row;
}
.part1_about .img {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(../imgs/serecibio.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.part1_about .img:hover::after {
  transform: translateY(0%);
  transition: 600ms;
}
.part1_about .img::after {
  content: "Ponencia en Mendoza. Junio 2023. Ponente en Mendoza para dictar una clase magistral de expertas en miradas, para la academia Internacional Lash Trainers, reconocida mundialmente.";
  font-size: 20px;
  color: white;
  background-color: rgba(22, 69, 97, 0.5960784314);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transform: translateY(100%);
  transition: 600ms;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */